body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1152px;
    position: relative;
}

.column {
    padding: 10px;
    height: 100%;
}

.column:first-child {
    width: 30%;
    max-width: 300px;
}
